@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

nav ul li a:hover {
  background-color: rgba(6, 148, 148, 0.2); /* Warna Teal transparan */
  color: #ffffff;
}

/* Menghilangkan margin & padding default */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Style untuk link menu sidebar saat di-hover */
.sidebar-link:hover {
  background-color: rgba(6, 148, 148, 0.2) !important; /* Warna Teal transparan */
  color: #ffffff !important;
}
